@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-phone{
background: url("./assets/bg-2x.png");
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}